# BASE
django
djangorestframework
django-modeltranslation
elasticsearch2
django-haystack

# TEST
ipdb
django-debug-toolbar
django-autofixture
# django-debug-toolbar deps
django-haystack-panel
djdt_flamegraph